<html>
    <head>
        <title>
            <%= locals.title %>
        </title>
    </head>
    <body>
        <div id = "login">
        <form action = "/login" method = "post">
            <h2>LOG-IN</h2>
            <br>
            <label for = "email">ENTER EMAIL</label>
            <br>
            <input type = "email" name = "email" placeholder = "ENTER EMAIL">

            <br>
            <label for = "password">ENTER PASSWORD</label>
            <br>
            <input type = "password" name = "password" placeholder = " ENTER PASSWORD">
            <br>
            <button id = "log-in">LOG-IN</button> 
        </form>
        </div>
    </body>
</html>