<html>
    <head>
        <title>
            <%= locals.title %> 
        </title>
    </head>
      <body>
        <div id = "sign up">
          <h1>SIGN UP</h1>
          <form action = "/signup" method ="post" >
            
        <label for = "name">ENTER NAME</label>
        <br>
        <input type = "text" name = "name" placeholder ="ENTER NAME">
        <br>

       <label for = "e-mail">E-MAIL</label>
        <br>
        <input type = "text" name = "email" placeholder = "ENTER E-MAIL">
        <br>

        <label for = "password">ENTER PASSWORD</label>
        <br>
        <input type = "password" name = "password" placeholder = "PASSWORD">
        <br>

        <button id = "cancel">CANCEL</button>
        <button id = "submitt">SUBMITT</button>
        </form>
        </div>
      </body>
    </html>