<html>
    <head>
        <title>
            <%= locals.title %>
        </title>
    </head>
    <body>
        <div id = "details">
            <div id = "view-details-container">
                      <p><%= Event_List.event%></p>   
                      <p><%= Event_List.date%></p>
                      <p><%= Event_List.venue%></p>
                    </div>
         </div>
    </body>
</html>
